td {
    max-width: 300px;
}

.data_search {
    margin-bottom: 20px;
}

.search_row {
    margin-bottom: 10px;
}

.add_search_row {
    vertical-align: bottom;
    cursor: pointer;
}

.data_search [type="submit"] {
    display: none;
}

.app-alert {
    display: none;
    padding: 10px;
    position: fixed;
    bottom: 5px;
    left: 10px;
    border-radius: 5px;
    color: white;
}

.app-alert-success {
    background: #3bb25a;
}

.app-alert-fail {
    background: #a64637;
}

.filter-tables {
    margin-bottom: 20px;
}


