.data_search {
    margin-bottom: 20px;
}

.search_row {
    margin-bottom: 10px;
}

.add_search_row {
    vertical-align: bottom;
    cursor: pointer;
}

.data_search [type="submit"] {
    display: none;
}


